/* ExplorerSideBar Styles */
.sidebar {
  flex: 0 0 320px;
  width: 320px;
  background-color: #fff;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  z-index: 50; /* 필요에 따라 조정 */
  position: relative; /* 필요에 따라 조정 */
}

/* Header Styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.header h1 {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.backButton, .iconButton {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Menu Styles */
.menu {
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;
}

.menuButton {
  flex: 1;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.itemList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eee;
  align-items: center;
  transition: background-color 0.3s;
}

.item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  width: 100%;
}

.itemDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.itemTitle {
  font-weight: bold;
  margin-bottom: 5px;
  color: #007bff;
}

.itemImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

/* selectedItem styles */
.selectedItem {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eee;
  align-items: center;
  transition: background-color 0.3s;
  background-color: #e6f7ff;
  border-left: 4px solid #1890ff;
  position: relative;
}

.selectedItem:hover {
  background-color: #d6f0ff;
  cursor: pointer;
}

.selectedItem a {
  text-decoration: none;
  color: inherit;
  display: flex;
  width: 100%;
}

.selectedItem::after {
  content: "✓";
  position: absolute;
  top: 10px;
  right: 10px;
  color: #1890ff;
  font-weight: bold;
  font-size: 16px;
} 