.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 350px;
  background-color: #fff;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.header h1 {
  font-size: 16px;
}

.backButton, .iconButton {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.menuButton {
  margin-right: 10px;
  padding: 5px 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.filter {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.filterButton {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #584DE4;
  border-radius: 20px;
  background-color: #584DE4;
  color: white;
  cursor: pointer;
}

.itemList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eee;
  align-items: center;
  transition: background-color 0.3s;
}

.item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  width: 100%;
}

.itemDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.itemTitle {
  font-weight: bold;
  margin-bottom: 5px;
  color: #007bff;
}

.itemDescription {
  color: #666;
  font-size: 14px;
}

.itemImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.map {
  flex-grow: 1;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.editor {
  padding : 10px;
  
}


.editor .menuButton {
  margin-bottom: 10px; /* 버튼 요소들 사이에 마진 추가 */
}

/* 마지막 버튼 아래에 불필요한 마진이 생기지 않도록 */
.editor .menuButton:last-child {
  margin-bottom: 0;
}

.searchForm {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchInput {
  flex: 1;
  padding: 10px 15px;
  border: none;
  border-radius: 20px 0 0 20px;
  box-shadow: none;
  font-size: 14px;
  background-color: #fff;
}

.searchButton {
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s; /* 부드러운 전환 효과 */
  background: #fff; /* 배경색을 흰색으로 설정 */
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.searchIcon {
  width: 20px;
  height: 20px;
  transition: stroke 0.3s; /* 부드러운 전환 효과 */
}

.searchButton:hover .searchIcon {
  stroke: #007bff; /* 마우스 오버 시 파란색으로 변경 */
}